<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My app</title>
</head>
<body>
    <h1>Welcome to My  app</h1>
    <p>This is a simple application factory </p>
    <p>This tasks is for application factory </p>
    <p>This is server site </p>
    <p>This tasks is for me </p>
    <!-- <p>This is a simple application factory </p>
    <p>This is a simple application factory </p>
    <p>This is a simple application factory </p>
    <p>This is a simple application factory </p>
    <p>This is a simple application factory </p>
    <p>This is a simple application factory </p> -->

</body>
</html>

